
		<div class="body">
     <div role="main" class="main">  
        <div class="container">
          <div class="slider-container rev_slider_wrapper" style="height: 521px;">
            <div id="revolutionSlider" class="slider rev_slider manual">
              <ul>
                <li data-transition="fade">
                  <img src="../img/demos/shop/slides/shop14/slide1.jpg"  
                    alt="slide bg"
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat"
                    class="rev-slidebg">
  
                  <div class="tp-caption"
                    data-x="center"
                    data-y="194"
                    data-start="1000"
                    data-whitespace="nowrap"						 
                    data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;"
                    data-mask_in="x:0px;y:0px;" style="font-size: 79px; line-height:1; font-weight:800; color: #fff;">eCOMMERCE?</div>
  
                  <div class="tp-caption"
                    data-x="center" data-hoffset="-220"
                    data-y="293"
                    data-start="1200"
                    data-transform_in="x:[-300%];opacity:0;s:500;"><img src="../img/slides/slide-title-border.png" alt="Border"></div>
  
                  <div class="tp-caption"
                    data-x="center"
                    data-y="285"
                    data-start="1500"
                    data-transform_in="y:[100%];opacity:0;s:500;" style="font-size: 23px; line-height:1; font-weight:300; color: #fff;">Check out our options and features.</div>
  
                  <div class="tp-caption"
                    data-x="center" data-hoffset="220"
                    data-y="293"
                    data-start="1200"
                    data-transform_in="x:[300%];opacity:0;s:500;"><img src="../img/slides/slide-title-border.png" alt="Border"></div>
                </li>
                <li data-transition="fade">
                  <img src="../img/demos/shop/slides/shop14/slide2.jpg"  
                    alt="slide bg"
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat"
                    class="rev-slidebg">
  
                  <div class="tp-caption"
                  data-x="480"
                  data-y="130"
                  data-start="500"
                  data-whitespace="nowrap"						 
                  data-transform_in="y:[100%];s:500;"
                  data-transform_out="opacity:0;s:500;"
                  style="z-index: 5; font-size: 26px; font-weight:300; line-height:1.5; color: #fff;"
                  data-mask_in="x:0px;y:0px;">up to <span style="font-weight: 600;">70%</span> off!</div>
  
                  <div class="tp-caption"
                    data-x="475"
                    data-y="164"
                    data-start="900"
                    data-whitespace="nowrap"						 
                    data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;"
                    style="z-index: 5; font-size: 82px; text-transform: uppercase; font-weight:600; line-height:1;color: #fff;"
                    data-mask_in="x:0px;y:0px;">Huge <span style="font-weight: 800;">Sale</span></div>
  
                  <div class="tp-caption tp-resizeme"
                    data-x="480"
                    data-y="256"
                    data-start="1300"
                    style="z-index: 5; font-size: 18px; font-weight: 600; line-height:1;color: #fff;"
                    data-transform_in="y:[100%];opacity:0;s:500;">Fashion<span style="margin-left:13px;margin-right:13px;">-</span>Electronics<span style="margin-left:13px;margin-right:13px;">-</span>Gifts<span style="margin-left:13px;margin-right:13px;">-</span>Music<span style="margin-left:13px;margin-right:13px;">-</span>Sports</div>
                  
                  <div class="tp-caption tp-resizeme"
                    data-x="784"
                    data-y="300"
                    data-start="1800"
                    style="z-index: 5; font-size: 16px; font-weight: 300; line-height:1;"
                    data-transform_in="y:[100%];opacity:0;s:500;"><a href="#" class="btn btn-default" style="border:none; font-weight: 600; padding-top: 10px; padding-bottom:10px;">SHOP NOW</a></div>
                </li>
                <li data-transition="fade">
                  <img src="../img/demos/shop/slides/shop14/slide3.jpg"  
                    alt="slide bg"
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat"
                    class="rev-slidebg">
  
                  <div class="tp-caption"
                    data-x="170"
                    data-y="180"
                    data-start="500"
                    data-whitespace="nowrap"						 
                    data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;"
                    style="z-index: 5; font-size: 26px; font-weight:300; line-height:1; color: #fff;"
                    data-mask_in="x:0px;y:0px;">It's time to feel</div>
  
                  <div class="tp-caption"
                    data-x="170"
                    data-y="214"
                    data-start="900"
                    data-whitespace="nowrap"						 
                    data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;"
                    style="z-index: 5; font-size: 82px; text-transform: uppercase; font-weight:600; line-height:1;color: #fff;"
                    data-mask_in="x:0px;y:0px;">The <span style="font-weight: 800;">Power</span></div>
                  
                  <div class="tp-caption tp-resizeme"
                    data-x="508"
                    data-y="308"
                    data-start="1300"
                    style="z-index: 5; font-size: 16px; font-weight: 300; line-height:1;"
                    data-transform_in="y:[100%];opacity:0;s:500;"><a href="#" class="btn btn-default" style="border:none; font-weight: 600; padding-top: 10px; padding-bottom:10px;">SHOP NOW</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    <div class="container">
          <div class="homepage-bar">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-truck bar-icon"></i>
                <div class="bar-textarea">
                  <h3>FREE SHIPPING &amp; RETURN</h3>
                  <p>Free shipping on all orders over $99.</p>
                </div>
              </div>
              <div class="col-md-4">
                <i class="fa fa-dollar bar-icon"></i>
                <div class="bar-textarea">
                  <h3>MONEY BACK GUARANTEE</h3>
                  <p>100% money back guarantee.</p>
                </div>
              </div>
              <div class="col-md-4">
                <i class="fa fa-support bar-icon"></i>
                <div class="bar-textarea">
                  <h3>ONLINE SUPPORT 24/7</h3>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
 <div class="home-products-seciton">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-9 col-md-push-3 col-lg-push-3">
                <h2 class="slider-title">FEATURED PRODUCTS</h2>
  
                <ul class="products-grid columns4">
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          
                          <img src="../img/demos/shop/products/product1-2.jpg" alt="Product Name" >
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Noa Sheer Blouse</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:60%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="old-price">$99.00</span>
                          <span class="product-price">$89.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          
                          <img src="../img/demos/shop/products/product2-2.jpg" alt="Product Name">
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Women Fashion Blouse</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:0%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="old-price">$120.00</span>
                          <span class="product-price">$90.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          <img src="../img/demos/shop/products/product3.jpg" alt="Product Name">
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Fashion Dress</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:60%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="product-price">$70.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          <img src="../img/demos/shop/products/product4.jpg" alt="Product Name">
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Fashion Sweater</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:80%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="old-price">$100.00</span>
                          <span class="product-price">$90.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          
                          <img src="../img/demos/shop/products/product5-2.jpg" alt="Product Name" >
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Fashion Jacket</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:20%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="product-price">$230.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          <img src="../img/demos/shop/products/product6-2.jpg" alt="Product Name">
                          
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Blue Denim Jeans</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:100%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="old-price">$220.00</span>
                          <span class="product-price">$180.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          <img src="../img/demos/shop/products/product11.jpg" alt="Product Name">
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Black top</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:0%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="product-price">$60.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <li>
                    <div class="product">
                      <figure class="product-image-area">
                        <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                          <img src="../img/demos/shop/products/product9.jpg" alt="Product Name">
                        </a>
  
                        <a href="#" class="product-quickview">
                          <i class="fa fa-share-square-o"></i>
                          <span>Quick View</span>
                        </a>
                        <div class="product-actions">
                          <a href="#" class="addtowishlist" title="Add to Wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a href="#" class="addtocart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                          <a href="#" class="comparelink" title="Add to Compare">
                            <i class="glyphicon glyphicon-signal"></i>
                          </a>
                        </div>
                      </figure>
                      <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Pink Fashion Dress</a></h2>
                        <div class="product-ratings">
                          <div class="ratings-box">
                            <div class="rating" style="width:60%"></div>
                          </div>
                        </div>
  
                        <div class="product-price-box">
                          <span class="product-price">$90.00</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
  
              <aside class="col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9 sidebar home-sidebar shop-sidebar">
                <div class="side-block">
                  <h4><i class="fa fa-bars"></i>SHOP CATEGORIES</h4>
                  <ul class="category-list">
                    <li>
                      <a href="#">Chicken</a>
                      <a href="#" class="plus"></a>
  
                          <ul>
                            <li><a href="#">Tops &amp; Blouses</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Dresses &amp; Skirts</a></li>
                            <li><a href="#">Shoes &amp; Boots</a></li>
                          </ul>
                        </li>
  
                    </li>
                    <li>
                      <a href="#">Mutton</a>
                      <a href="#" class="plus"></a>
                      <ul>
                        <li><a href="#">Smart TVs</a></li>
                        <li><a href="#">Cameras</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Phones</a></li>
                      </ul>
                    </li>
                        <li>
                      <a href="#">Egg</a>
                      <a href="#" class="plus"></a>
                      <ul>
                        <li><a href="#">WhiteEgg</a></li>
                        <li><a href="#">BrownEgg</a></li>
                        
                      </ul>
                    </li>
                    
                  </ul>
                </div>
  
                <div class="side-block side-feature">
                  <h4><i class="fa fa-star"></i>DEDICATED SERVICE</h4>
                  <p>Consult our specialists for help with an order, customization, or design advice.</p>
                  <a href="#">Get in Touch ></a>
                </div>
  
                <div class="side-block side-feature">
                  <h4><i class="fa fa-reply"></i>FREE RETURNS</h4>
                  <p>We stand behind our goods and services and want you to be satisfied with them.</p>
                  <a href="#">Returns Policy ></a>
                </div>
              </aside>
            </div>
          </div>
        </div>
     
        
       