<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 142, 'stickySetTop': '-142px', 'stickyChangeLogo': false}">
  <div class="header-body">
    <div class="header-top">
      <div class="container">
        <div class="dropdowns-container">
          <div class="header-dropdown cur-dropdown">
          </div>

          <div class="header-dropdown lang-dropdown">
          
          </div>
        </div>		
        
        <div class="top-menu-area">
          <a href="#">Links <i class="fa fa-caret-down"></i></a>
          <ul class="top-menu">
            <li><a href="demo-shop-14-about-us.html">My Account</a></li>
            
            <li><a href="#">My Wishlist</a></li>
          
            <li><a href="demo-shop-14-login.html">Log in</a></li>
            
          </ul>
        </div>
        <p class="welcome-msg">DEFAULT WELCOME MSG!</p>
      </div>
    </div>
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column">
          <div class="header-logo">
            <a href="demo-shop-14.html">
              <img alt="Porto" width="111" height="51" src="../img/demos/shop/logo-shop-black.png" class="dark-logo">
              <img alt="Porto" width="111" height="51" src="../img/demos/shop/logo-shop-white.png" class="light-logo">
            </a>
          </div>
        </div>
        <div class="header-column">
          <div class="row">
            <div class="cart-area">
              <div class="custom-block">
              
                <i class="fa fa-phone"></i>
                <span>(+404) 158 14 25 78</span>
                <span class="split"></span>
                <a href="#">CONTACT US</a>
              </div>
              <div class="cart-dropdown">
                <a href="#" class="cart-dropdown-icon">
                  <i class="minicart-icon"></i>
                  <span class="cart-info">
                    <span class="cart-qty">2</span>
                    <span class="cart-text">item(s)</span>
                  </span>
                </a>

                <div class="cart-dropdownmenu right">
                  <div class="dropdownmenu-wrapper">
                    <div class="cart-products">
                      <div class="product product-sm">
                        <a href="#" class="btn-remove" title="Remove Product">
                          <i class="fa fa-times"></i>
                        </a>
                        <figure class="product-image-area">
                          <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                            <img src="../img/demos/shop/products/thumbs/cart-product1.jpg" alt="Product Name">
                          </a>
                        </figure>
                        <div class="product-details-area">
                          <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Blue Women Top</a></h2>

                          <div class="cart-qty-price">
                            1 X 
                            <span class="product-price">$65.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="product product-sm">
                        <a href="#" class="btn-remove" title="Remove Product">
                          <i class="fa fa-times"></i>
                        </a>
                        <figure class="product-image-area">
                          <a href="demo-shop-14-product-details.html" title="Product Name" class="product-image">
                            <img src="../img/demos/shop/products/thumbs/cart-product2.jpg" alt="Product Name">
                          </a>
                        </figure>
                        <div class="product-details-area">
                          <h2 class="product-name"><a href="demo-shop-14-product-details.html" title="Product Name">Black Utility Top</a></h2>

                          <div class="cart-qty-price">
                            1 X 
                            <span class="product-price">$39.00</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="cart-totals">
                      Total: <span>$104.00</span>
                    </div>

                    <div class="cart-actions">
                      <a href="demo-shop-14-cart.html" class="btn btn-primary">View Cart</a>
                      <a href="demo-shop-14-checkout.html" class="btn btn-primary">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="header-search">
              <a href="#" class="search-toggle"><i class="fa fa-search"></i></a>
              <form action="#" method="get">
                <div class="header-search-wrapper">
                  <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
                  <select id="cat" name="cat">
                    <option value="">All Categories</option>
                    <option value="4">Chicken</option>
                    
                    <option value="5">Mutton</option>
                    
                    <option value="7">Egg</option>
                    
                                          </select>
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>

            <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-container header-nav">
      <div class="container">
        <div class="header-nav-main">
          <nav>
            <ul class="nav nav-pills" id="mainNav">
              <li class="dropdown active">
                <a class="dropdown-toggle" routerLink="/home">
                  Home
                </a>
                
              </li>
              <li class="dropdown dropdown-mega-small">
                <a href="demo-shop-14-category-4col.html" class="dropdown-toggle">
                  Chicken
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="dropdown-mega-content dropdown-mega-content-small">
                      <div class="row">
                        <div class="col-md-7">
                          <div class="row">
                            <div class="col-md-6">
                              <a href="demo-shop-14-category-4col.html" class="dropdown-mega-sub-title"></a>
                              <ul class="dropdown-mega-sub-nav">
                                <li><a href="demo-shop-14-category-4col.html">Breast</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Thigh</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Drumstick</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Drumette </a></li>
                              </ul>
                            </div>
                            <div class="col-md-6">
                              <a href="demo-shop-14-category-4col.html" class="dropdown-mega-sub-title"></a>
                              <ul class="dropdown-mega-sub-nav">
                                <li><a href="demo-shop-14-category-4col.html">WholeWing</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Leg</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Tender</a></li>
                                <li><a href="demo-shop-14-category-4col.html">WOG</a></li>
                              </ul>
                            </div>
                          </div>
                          </div>

                        
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropdown-mega-small">
                <a href="demo-shop-14-category-4col.html" class="dropdown-toggle">
                  Mutton
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="dropdown-mega-content">
                      
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                              <a href="demo-shop-14-category-4col.html" class="cat-img">
                            
                              
                              <a href="demo-shop-14-category-4col.html" class="dropdown-mega-sub-title"></a>
                              <ul class="dropdown-mega-sub-nav">
                                <li><a href="demo-shop-14-category-4col.html">Neck</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Shoulder</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Rib</a></li>
                                <li><a href="demo-shop-14-category-4col.html">loin</a></li>
            
                              </ul>
                            </div>
                            <div class="col-md-4">
                              <a href="demo-shop-14-category-4col.html" class="cat-img">
                              
                              <a href="demo-shop-14-category-4col.html" class="dropdown-mega-sub-title"></a>
                              <ul class="dropdown-mega-sub-nav">
                                <li><a href="demo-shop-14-category-4col.html">Sirloin</a></li>
                                <li><a href="demo-shop-14-category-4col.html">Leg</a></li>
                              <li><a href="demo-shop-14-category-4col.html">Breast</a></li>
                              <li><a href="demo-shop-14-category-4col.html">Shank</a></li>
                              </ul>
                            </div>
                            <div class="col-md-4">
                              
                            </div>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                  Egg
                </a>
                <ul class="dropdown-menu">
                  <li><a href="demo-shop-14-blog.html">WhiteEgg</a></li>
                  <li><a href="demo-shop-14-blog-post.html">BrownEgg </a></li>
                </ul>
              </li>
              <li class="pull-right">
                <a href="demo-shop-14-contact-us.html">
                  Contact Us 
                </a>
              </li>
              
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
